.item-card{
    border: 0 !important;
    .ant-card-cover{
        display: flex;
        justify-content: center;
    }
    img{
        max-height: 200px;
        width: auto
    }
}
.ant-popover-title{
    display: none;
}
.ant-popover-inner-content{
    padding: 5px !important;
    font-size: 10px;
}